#showDeploymentCreator, #submit-button   {
   margin-top: 15px;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
}

.availableAppsList{
    display: flex;
}

.availableAppsList > div {
    flex: 1;
}

.wrapper {
    min-width: 480px;
}

#deploymentCreator{
    display: none;
    visibility: hidden;
}

#deploymentForm {
    display: inherit;
    visibility: inherit;
}
.input-description{
    padding-left: 25px;
    display: inline-block;
    width: 200px;
}

.checkbox-label, .config-checkbox label, .config-checkbox-label {
    display:inline-block;
    border:solid 1px gray;
    line-height:30px;
    height:30px;
    width: 250px;
    border-radius:30px;
    -webkit-font-smoothing: antialiased;
    margin: 10px 5px 1px;
    font-family:Arial,Helvetica,sans-serif;
    color:gray;
    text-align:center;
}

#deploymentCreator input[type=checkbox] {
    display: none;
}

#deploymentCreator input:checked + label {
    border: solid 1px #17a3ff;
    color: #17a3ff;
}

#deploymentCreator input:checked + label:before {
    content: "\2713 ";
}

#deploymentForm input[id$=text]{
      width: 4em;
}

#deploymentForm div[id$=resources]{
    visibility: hidden;
    display: none;
}

.resourcesOuter{
    clear: right;
    width: 510px;
    max-width: 510px;
}

.resourcesInner{
    clear: right;
    display: block;
    width: inherit;
}

.appConfig{
    visibility: hidden;
    display: none;
    width: 300px;
}

.config-checkbox-label{
    line-height:20px;
    height:20px;
    width: 100px;
    border-radius:30px;
}

.config{
    display: none;
    visibility: hidden;
}

.configInner{
    display: block;
    width: 170px;
}

.configInner  input[type="number"]{
    display: none;
    visibility: hidden;
}

#deploymentCreator input[type=range]{
    width: 200px;
}

.defaultConfig > * {
    margin-top: 25px;
    width: 135px;
    display: inline-block;
}

.defaultConfig input[type=number]{width: 3em}

div[id$=_div]{
    max-width: 255px;
}

div[id$=_div]>label[class=config-checkbox-label]{
   padding-top: 5px;
    font-size: 15px;
    width: 150px;
    margin-left: 52px;
    height: 25px;
    display: none;
    visibility: hidden;
}

div[id$=_defaultConfig]{visibility: hidden; display: none}