.services-wrapper{
    width: 1080px;
}

.listing-table  {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.listing-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.selector-item{
    display: inline-block;
    border: groove;
    padding: 2px 5px;
    border-radius: 7px;
}

a{
    text-decoration: none;
}

.table-action-button{
    display: block;
    margin: 5px;
    border-radius: 5px;
    width: 100px;
    font-weight: bold;
    font-size: 14px;
}

th{text-align: center}
td[id^=namespace_phase_],
td[id^=namespece_podsCount],
td[id^=namespace_deplyomentsCount],
td[id^=pod_containersCount_],
td[id^=pod_restartCount_],
td[id^=deployment_replicas_]{text-align: center}