@import io.fabric8.kubernetes.api.model.extensions.DeploymentList
@import io.fabric8.kubernetes.api.model.extensions.Deployment
@import scala.collection.JavaConverters._

@(deploymentList: DeploymentList, namespace: String = "")
@import io.fabric8.kubernetes.api.model.PodList; var podList=new PodList();
@import java.math.BigInteger; var counter=0;


@mainLayout("Deployments") {



    <button id="showDeploymentCreator">Show deployment creator</button> <div id="status-area"></div>
    <div id="deploymentCreator">
        <form id="deploymentForm"></form>
        <button id="submit-button" type="button">Submit</button>
        <hr>
    </div>
    <div id="content">
    <h1 id="title">
    @if(namespace.length == 0) {
        Deployments in all namespaces
    } else {
       Deployments in @namespace namespace
    }</h1>

    @if(deploymentList.getItems.size > 0) {
            <div class="deployments-wrapper">
            <table class="listing-table" id="available-deployments-table">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Namespace</th>
                    <th>Replicas</th>
                    <th>Labels</th>
                </tr>
                @for(deployment: Deployment <- deploymentList.getItems) {
                    <tr>
                        <td id="deployment_checkbox_@counter">
                            <input id="deployment_checked_@counter" type="checkbox" name="checked-deployments"/>&nbsp;
                        </td>
                        <td id="deployment_name_@counter">
                            <label for="deployment_checked_@counter">@deployment.getMetadata.getName</label>
                        </td>
                        <td id="deployment_namespace_@counter">@deployment.getMetadata.getNamespace</td>
                        <td id="deployment_replicas_@counter">@deployment.getStatus.getAvailableReplicas/@deployment.getStatus.getReplicas</td>
                        <td>
                            @if(deployment.getMetadata.getLabels != null) {
                                @for(label <- deployment.getMetadata.getLabels.asScala.toMap) {
                                    <div class="selector-item"> @label._1: @label._2</div>
                                }
                            }
                        </td>

                    </tr>
                    @{counter += 1}
                }
            </table>
            <input type="button" id="btn-deployments-delete" value="Delete">
    } else {
        <p>There are no deployments in this namespace.</p>
    }
        </div>
    </div>
     <script type="text/javascript" src="@routes.Assets.at("javascripts/deployments.js")"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/tables.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/deployments.css")">
}